$primary_color: #000DFF;
$secondary_color: #27CB8B;
$main_text_color: #00044A;
$light_text_color: #6D6E8D;
$light_bg_color: #F1F5F9;
$heading_color: #000;

$spacing: 8px;

$font-family: 'DM Sans', sans-serif;